@import "compass/css3";

.powered-by-footer {
  position       : relative;
  text-align     : center;
  margin         : 25px auto;
  padding-bottom : 25px;
  a {
    display      : inline-block;
    img {
      width      : 50px;
    }
  }
}

a.heart {
  color:darken(pink,5%);
  @include transition(color 1s ease);
  &:hover, &:focus {
    color: darken(pink,15%);
    text-decoration: none;
  }
}

.heart-info {
  background: #333;
  color: #eee;
  padding: 10px;
  border-radius: 8px;
  display: none;
  p {
    margin: 2px;
    &:not(:last-child) {
      border-bottom: 1px solid #555;
    }
  }
}