//http://www.colourlovers.com/palette/1297074/Autumn_Rainbow
$bg            : #CF7659; 
$hero          : #BA2640; //red
$link          : #D44950;

$articlebg      : #f5f5f5;
$articleHeading : #222;
$articleColor   : #444;

$white         : #FAF7F7;
$quote         : #61862F;

$button        : $quote;

$blue          : rgb(50, 120, 154);
$darkblue      : rgb(40, 98, 125);
$turquoise     : rgb(18, 185, 166);
$darkturquoise : rgb(15, 156, 140);
$red           : $link;

$blockquotecap : #A0519D;
$blockquotebg  : #eee;
$lightGray     : #ccc;

$group         : #DFDBD1;
$gray          : gainsboro;

$codeCapBg     : #555;
$codeCapColor  : #FA7279;
$codeBg        : #333;
$codeColor     : #ddd;

$padding       : .7em;
$radius        : $padding * .5;
$innerRadius   : $radius * .5;