.invitation {
  .page-wrap {
    width          : 600px;
    padding-bottom : $padding;
    @include breakpoint(invite-bear){
      width         : 100%;
      padding-left  : $padding;
      padding-right : $padding;
    }
  }
}

.wording {
  background         : white;
  box-shadow         : inset 0 0 5px #555;
  margin-top         : $padding;
  border             : $padding*1.8 solid $gray;
  border-left-color  : #ccc; 
  border-right-color : #eee; 
  padding            : $padding*2;
  text-align         : center;
  @include breakpoint(invite-bear){
    border-width : $padding;
    padding      : $padding;
  }
  p {
    @include font-headers;
    font-weight : 400;
    font-size   : 110%;
    line-height : 1.8;
    margin      : 5px 0;
    @include breakpoint(invite-bear){
      font-size : 100%;
    }
  }
  a {
    color   : $articleColor;
    display : block;
  }
  span {
    display : block;
  }
  .star {
    color       : $articleHeading;
    font-weight : 700;
    font-size   : 160%;
    @include breakpoint(invite-bear) {
      font-size   : 150%;
    }
  }
}

.button-wrap {
  text-align    : center;
  margin-top    : $padding*2;
  margin-bottom : $padding;
}