$link          : rgb(236, 141, 0); //orange

$blue          : rgb(50, 120, 154);
$darkblue      : rgb(40, 98, 125);
$turquoise     : rgb(18, 185, 166);
$darkturquoise : rgb(15, 156, 140);
$red           : rgb(194, 88, 69);

$button        : $turquoise;

$articleHeading : #222;
$articleColor  : #444;

$blockquotebg  : #eee;
$lightGray     : #ccc;
$gray          : gainsboro;

$codeCapBg     : #555;
$codeCapColor  : $link;
$codeBg        : #333;
$codeColor     : #ddd;

$padding       : .7em;
$radius        : $padding * .5;
$innerRadius   : $radius * .5;

//$Level1      : rgb(40, 98, 125);
//$Level1Hover : rgb(43, 106, 135);
//$Level1Down  : rgb(37, 90, 115);

//$Level2      : rgb(50, 120, 154);
//$Level2Hover : rgb(53, 127, 163);
//$Level2Down  : rgb(47, 113, 145);

//$Level3      : rgb(60, 143, 184);
//$Level3Hover : rgb(63, 151, 194);
//$Level3Down  : rgb(57, 137, 176);

//$Level4      : rgb(113, 177, 209);
//$Level4Hover : rgb(116, 181, 214);
//$Level4Down  : rgb(110, 173, 204);

//$Level5      : rgb(236, 141, 0);
//$Level5Hover : rgb(255, 152, 0);
//$Level5Down  : rgb(217, 129, 0);

//$Level6      : rgb(18, 185, 166);
//$Level6Hover : rgb(21, 214, 192);
//$Level6Down  : rgb(15, 156, 140);