$hero           : rgba(rgb(47, 179, 121), .7); 
$link           : rgb(47, 179, 121); // green

$button         : $link;

$articleHeading : #222;
$articleColor   : #444;

$alertRed       : #CC3B3B;

$lightGray      : #ccc;
$gray           : gainsboro;

$codeCapBg      : #555;
$codeCapColor   : $link;
$codeBg         : #333;
$codeColor      : #ddd;

$padding        : .7em;