article {
  background    : white;
  color         : #333;
  padding       : $padding * 1.8 $padding * 2 $padding *2;
  border        : 1px solid #ccc;
  border-bottom : none;
  @include breakpoint(phone){
    padding : $padding;
  }
  &:last-child {
    margin-bottom : 0;
    border-bottom : 1px solid #ccc;
    @include breakpoint(baby-bear){
      margin-bottom : $padding;
    }
  }
}

article.post figure {
  margin-top : 20px;
}

aside article:last-child {
  margin-bottom : 0;
}

// ---------- ARTICLE (Quote)
article.quote {
  background : rgba($link, 0.55);
  border     : $padding/2 solid $link;
  p {
    @include font-headers;
    font-size   : 170%;
    line-height : 1.3;
    color       : white;
    margin      : 0 0 $padding;
    text-shadow : 1px 1px 3px $link;
  }
  cite {
    background  : $link;
    color       : #fff;
    padding     : $padding * .5;
  }
}

// ---------- ARTICLE (Image)
article.image {
  //background: none;
  padding: 0;
  h1 {
    display : none;
  }
  figure {
    margin-bottom : 0; 
  }
}

// ---------- ARTICLE (Gallery)
article.gallery {
  .gallery-wrap {
    @extend .clearfix;
  }
  figure {
    //border       : $padding solid $gray;
    float        : left;
    //margin-right : $padding;
    padding      : 0;
    width        : 150px !important; 
    height       : 150px !important; 
    overflow     : hidden;
    position     : relative;
    img {
      position       : absolute;
      vertical-align : center;
    }
    &:hover {
      border-color : darken($gray, 5%);
    }
    @include breakpoint(baby-bear) {
      width        : 125px !important; 
      height       : 125px !important;      
    }
  }
  figcaption {
    display : none;
  }
}
