$link          : #65AF14;

$hero          : rgb(79, 133, 76);
$bg            : #E9FCE1;

$articleHeading : #222;
$articleColor  : #444;

$pink          : #F7AAA3;
$quote         : rgb(173, 147, 185);
$button        : $quote;

$red           : #E05036;

$blockquotebg  : #eee;
$lightGray     : #ccc;
$gray          : rgb(230,230,230);

$codeCapBg     : #555;
$codeCapColor  : $link;
$codeBg        : #333;
$codeColor     : #ddd;

$padding       : .7em;
$radius        : $padding * .5;