body {
  font-size   : 16px; 
  line-height : 1.5;
  @include breakpoint(invite-bear) {
    font-size : 90%;
  }
}

h1, h2, h3, h4, h5, h6 {
  @include font-headers;
  color       : $articleHeading;
  line-height : 1.2;
  margin      : 0 0 .5em 0;
}

article {
  @include font-body;
  color : $articleColor;
  h1 {
    margin : 0 0 .6em 0;
  }
  h2, h3, h4, h5, h6 {
    margin-top : 1.5em;
  }
}

// ----------- ANCHOR
a {
  color         : $link;
  &:hover, &:focus {
    color : darken($link, 10);
    text-decoration: underline;
  }
  &:active {
    color : darken($link, 15);
  }
}

// ----------- BLOCKQUOTE
blockquote {
  padding     : $padding;
  margin      : $padding 0;
  background  : $blockquotebg;
  border-left : $padding solid $pink;
  p:last-child {
    margin : 0;
  }
}

// ----------- FIGURE
figure {
  padding    : $padding;
  background : lighten($gray, 2%);
  text-align : center;
  margin     : 0 0 $padding 0;
  figcaption {
    margin-top : $padding;
    font-style : italic;
    color      : $articleColor;
  }
  img {
    display : block;
    margin  : 0 auto;
  }
}

// ----------- HORIZONTAL LINE
hr {
  border : 0;
  height : 1px;
  margin : 2em 0;
  border : 2px dashed $gray;
}