body {
  font-size   : 16px; 
  line-height : 1.6;
  @include breakpoint(invite-bear) {
    font-size : 90%;
  }
}

h1, h2, h3, h4, h5, h6 {
  @include font-headers;
  color       : $articleHeading;
  line-height : 1.2;
  margin      : 0 0 .5em 0;
}

article {
  @include font-body;
  color : $articleColor;
  h1 {
    margin : 0 0 .6em 0;
  }
  h2, h3, h4, h5, h6 {
    margin-top : 1.5em;
  }
}

// ----------- ANCHOR
a {
  color         : $link;
  &:hover, &:focus {
    color : darken($link, 10);
  }
  &:active {
    color : darken($link, 20);
  }
}

// ----------- BLOCKQUOTE
blockquote {
  padding       : $padding;
  margin        : $padding 0;
  background    : $blockquote;
  border-radius : $radius;
  p:last-child {
    margin : 0;
  }
}

// ----------- FIGURE
figure {
  padding    : $padding;
  text-align : center;
  margin     : 0 0 $padding 0;
  box-shadow : 0 1px 6px rgba(black, .25);
  figcaption {
    margin-top : $padding;
    font-style : italic;
    color      : black;
  }
  img {
    display : block;
    margin  : 0 auto;
  }
}

hr {
  color      : $gridbg;
  border     : 0;
  border-top : 1px solid $blockquote;
  height     : 1px;
  margin     : 2.5em 0;
  text-align : center;
  font-size  : 120%; 
}
hr:after {
    content    : "❄";
    display    : inline-block;
    position   : relative;
    top        : -0.84em;  
    font-size  : 1.5em;
    padding    : 0 0.25em;
    background : white;
}