.rsvp {

  article {
    margin-bottom :0;
  }
  .grid-primary {
    width : 100%;
  }

}

.submitted {
  color: darken($gray, 20%);
  span {
    @include breakpoint(invite-bear) {
      display: block;
    }
  }
}

.required-fields {
  display       : none;
  background    : $red;
  color         : white;
  padding       : $padding * 2;
  margin-bottom : $padding * 2;
}

.block {
  background    : $bg;
  padding       : $padding;
  margin-bottom : $padding * 2;
}

.contact {
  h2 {
    font-size   : 22px;
    margin : 0 0 8px 5px;
    a {
      color         : $articleHeading;
      line-height   : 1.4;
      border-bottom : 1px dotted $articleHeading;
      &:hover, &:focus {
        color  : $link;
        cursor : pointer;
        border-bottom-color: $link;
      }
      &:active {
        color : darken($link, 20%);
        border-bottom-color: darken($link, 20%);
      }
      span {
        font-size : 14px;
      }
    }
  }
  .guest-name {
    display : none;
    padding-left : 5px;
    margin: 5px 0 10px -5px;
  }
  input {
    @include font-headers;
    outline       : none;
    font-size     : 22px;
    margin-left   : -5px;
    margin-right  : 5px;
    border        : 1px solid darken($gray, 10%);
    padding-left  : 5px;
  }
  .guest-last-name {
    margin-top  : -1px;
  }

  .fields {
    background : white;
    padding    : $padding;
    .field {
      margin-bottom : $padding;
    }
    label {
      font-weight   : bold;
      display       : block;
      width         : 100%;
      margin-bottom : 5px;
    }
    select {
      @include font-body;
      border  : 1px solid #BDC7D8;
      width   : 50%;
      height  : 26px;
      outline : none;
      @include breakpoint(baby-bear){
        width : 100%;
      }
    }
  }
}

.note {
  padding-bottom : 0;
}

.note-label {
  @include font-headers;
  color     : $articleHeading;
  font-size : 24px;
  margin    : 0 0 5px 5px;
  display   : block;
}

.note-textarea {
  @include font-body;
  width      : 100%;
  height     : 100px;
  outline    : none;
  padding    : $padding;
  border     : none;
  background : white;
}

.note-progressbar {
  width            : 0;
  //margin-top       : $padding;
  height           : $padding;
  background-color : $link;
}