$bg             : #DBD9D4;
$hero           : $bg; 
$link           : #B32F3F; // green

$button         : $link;

$articleHeading : #222;
$articleColor   : #444;

$alertRed       : $link;

$gray           : gainsboro;
$frame          : #A05E66;

$codeCapBg      : #555;
$codeCapColor   : #E4E4E4;
$codeBg         : #333;
$codeColor      : #ddd;

$padding        : .7em;