$link         : #66D9EF; // blue

$button       : #3BAFCC;

$articleHeading : #eee;
$articleColor  : #ccc;

$alertRed     : #CE4F08;

$lightGray    : #ccc;
$gray         : gainsboro;

$codeCapBg    : #555;
$codeCapColor : $link;
$codeBg       : #333;
$codeColor    : #ddd;

$padding      : .7em;